{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4">Detalles de la Asesoría</h1>
    <div class="card">
        <div class="card-body">
            <div class="asesor-autor">
                <i class="bi bi-person-circle-fill me-2 user-icon"></i>
                {{ creador }}
            </div>
            <h3 class="card-title">{{ asesoria.titulo }}</h3>
            <h5 class="card-title">{{ asesoria.descripcion }}</h5>
            <p class="card-text">
                <small class="text-muted">
                    Fecha: {{ asesoria.dia }} - Hora: {{ asesoria.hora }} hs
                </small>
            </p>
            <hr>

            {% if es_creador %}
                <p>Eres el creador de esta asesoría.</p>
                {% if fecha_hora_asesoria < now %}
                    <p class="text-warning">Esta asesoría ya ha finalizado.</p>
                {% endif %}

                {% if asistentes %}
                    <p>Usuarios apuntados:</p>
                    <ul>
                        {% for asistente in asistentes %}
                            <li>{{ asistente.username }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Todavía no hay usuarios apuntados a tu asesoría.</p>
                {% endif %}

                <div class="mt-4">
                    <a href="{{ url_for('cancelar_asesoria', asesoria_id=asesoria.id) }}" class="btn btn-danger" 
                       onclick="return confirm('¿Estás seguro de que quieres cancelar esta asesoría? Esta acción no se puede deshacer y eliminará todos los registros de asistentes.')">
                        <i class="bi bi-trash me-1"></i>Cancelar Asesoría
                    </a>
                </div>

            {% else %}
                {% if fecha_hora_asesoria > now %}
                    {% if esta_registrado %}
                        <p>Ya estás apuntado a esta asesoría.</p>
                        <a href="{{ url_for('cancelar', asesoria_id=asesoria.id) }}" class="btn btn-danger mt-3">Cancelar Apunte</a>
                    {% else %}
                        <a href="{{ url_for('apuntarse', asesoria_id=asesoria.id) }}" class="btn btn-primary mt-3">Apuntarse</a>
                    {% endif %}
                {% else %}
                    <p class="text-warning">El periodo para apuntarse a esta asesoría ha finalizado.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <a href="{{ url_for('asesorias') }}" class="btn btn-outline-light mt-4">Volver a todas las asesorías</a>
{% endblock %}