{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4">{{ asesoria.titulo }}</h1>
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h5 class="card-title">{{ asesoria.descripcion }}</h5>
            
            {# Mostramos la fecha y hora formateadas #}
            <p class="card-text">
                <small class="text-muted">
                    Fecha: {{ asesoria.fecha_hora.strftime('%d/%m/%Y') }} - Hora: {{ asesoria.fecha_hora.strftime('%H:%M') }} hs
                </small>
            </p>
            <p class="card-text"><small class="text-muted">Creado por: {{ creador }}</small></p>
            <hr>

            {% if es_creador %}
                <p>Eres el creador de esta asesoría.</p>
                {% if asesoria.fecha_hora < now %}
                    <p class="text-warning">Esta asesoría ya ha finalizado.</p>
                {% endif %}

                {% if asistentes %}
                    <p>Usuarios apuntados:</p>
                    <ul>
                        {% for asistente in asistentes %}
                            <li>{{ asistente.username }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Todavía no hay usuarios apuntados a tu asesoría.</p>
                {% endif %}

            {% else %}
                {# Solo mostramos los botones si la asesoría es en el futuro #}
                {% if asesoria.fecha_hora > now %}
                    {% if esta_registrado %}
                        <p>Ya estás apuntado a esta asesoría.</p>
                        <a href="{{ url_for('cancelar', asesoria_id=asesoria.id) }}" class="btn btn-danger mt-3">Cancelar Apunte</a>
                    {% else %}
                        <a href="{{ url_for('apuntarse', asesoria_id=asesoria.id) }}" class="btn btn-primary mt-3">Apuntarse</a>
                    {% endif %}
                {% else %}
                    {# Si la asesoría ya pasó, informamos al usuario #}
                    <p class="text-warning">El periodo para apuntarse a esta asesoría ha finalizado.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <a href="{{ url_for('asesorias') }}" class="btn btn-outline-light mt-4">Volver a todas las asesorías</a>
{% endblock %}